body {
    background-image: url(https://avatars.mds.yandex.net/i?id=feefbfb4a6a8678148eeb7cbe1171ddf_l-5280334-images-thumbs&n=13);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container1 {
  
 
    background: linear-gradient(135deg, rgb(13, 13, 13), rgb(26, 26, 29), rgb(128, 0, 128), rgb(255, 215, 0));
    background-attachment: fixed;  /* Фон остаётся на месте при прокрутке */
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
      
   
      }
      

#col1 {
    padding-left: 50%;
}

.Dragon {
    background-color: rgba(83, 83, 83, 0.975);
    border-radius: 10px;
}
.Dragon > .container-fluid{
    padding: 0;
}
#imgD {
    width: 80%;
    height: 80%;
    margin-left: 9%;
}

.type {
    color: #ffff;
}




h3 {
    margin-left: 20%;
}

.col-3 {
    background-color: rgba(83, 83, 83, 0.975);
}






.character-section {
    background: linear-gradient(135deg, #000000, #2c003e); /* Мрачный градиент */
    padding: 6%;
    text-align: center;
    border: 3px solid #ffd700; /* Золотая рамка */
    margin: 2%;
    border-radius: 5%;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.5); /* Золотое свечение */
}

.character-title {
    font-size: 200%;
    color: #ffd700; /* Золотой заголовок */
    text-shadow: 0 0 10px #ff69b4; /* Лёгкое розовое свечение */
}

.character-description {
    font-size: 180%;
    color: #e0e0e0;
    margin: 2% 0;
}

.video-container {
    border: 2px solid #ff69b4; /* Розовая рамка вокруг видео */
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.7); /* Энергетическая аура */
}


#west-1{
   margin-left: 25%;
}

#west-6{
    width: 100%;
     
}


    .card{
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: transform 0.5s ease-in-out;
        background-color: white;
    }

    #kitcol-10{
  
margin-left: 10%;      
            
    }


    ANIMATIONS

    .buttons {
    margin-bottom: 5%;
  }

  button {
     border: 2px solid #ffd700;
    border-radius: 10px;
    box-shadow: #ffd700;
    background: linear-gradient(135deg, #800080, #00BFFF, #FF6F61);
    color: white;
    border: none;
    padding: 2% 10%;
    margin: 1%;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.2);
  }


  .cards {
   
    display: none;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .active {
    display: flex;
    animation: fadeIn 0.5s ease-in forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.95);
    }
  }

  

.buttons1{
    margin-left: 15%;
}
